name: Test

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
        TF_VAR_zedcloud_token: ${{ secrets.TF_VAR_ZEDCLOUD_TOKEN }}
        TF_VAR_zedcloud_url : ${{ vars.TF_VAR_ZEDCLOUD_URL }}
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.21

    - name: Install dependencies
      run: cd ./v2 && go mod tidy && cd -
    
    - name: make test
      run:  make test
      
        
